@charset "utf-8"; /* 이css문서는 UTF-8방식으로 인코딩 되어 있습니다. */
@import url(default.css);
/* 본고딕 CND방식으로 사용할때 폰트를 정의하는 font-face가 입력된 css를 import 불러다가 
   사용하는 방식을 많이 씀 
   이 방식은 간단하지만 문제가 google이 서비스를 중단하면 사용 못함. 
   font 파일을 저장해서 사용하는 방식을 씀 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    letter-spacing: -0.05em;
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@media screen and (max-width: 640px) {
    html, body {
        font-size: 13px; /* 크기 */
    }
    .wrapper {
        width: auto;
            /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨 
           디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에 
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
        margin: 0 20px;
    }
    #wrap {
        min-width: auto; /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /*다른요소보다 가장 높이 올리는 것 최대값 100*/
    color: #FFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
.header .logo {
    float: left;
    margin-top: 20px;
}
.header .logo a {
    width: 182px;
    height: 60px;
    display: block;
    /* 배경의 로고크기는 pc/mobile에서 사이즈가 다름 
    물론 background-size를 width와 높이값으로 수정 가능
    하지만 a태그에 준 넓이와 높이값에 맞게 background-size 자동으로
    조절되었으면 함. 
    contain - 이미지를 짜르지 않고 영역에 딱 맞게 조절 
    100% auto - 가로는 영역 딱맞게 세로는 가로비율에 맞게*/
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center;
    /* display:flex는 좌우로 배치된 요소의 높이를
      제일 긴 사이즈와 동일하게 모든 높이를 맞춤 
      이를 원래 요소별 높이로 주고 싶으면 align-items를 줘야함 */
}
/* 모바일에서 사용할 메뉴 열기 버튼 
 - pc 버전에서는 숨김 처리  */
 .header .gnb .gnb_open {
    display: none;
    /* 태그를 지운것처럼 공간을 차지하지 않음 */
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a{
    font-size: 22px;
    font-weight: 700;
    padding: 34px 24px; 
    display: block;
}
.header .login {
    width: 30px;
    height: 30px;
    background: url(../images/login_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
    margin: 0 37px 0 37px;
}
.header .lang {
    width: 30px;
    height: 30px;
    background: url(../images/language_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
}
/*header가 스크롤이 되면 jquery에서 header에 fixed라는 클래스를 추가 할 예정. 
그때의 스타일*/
.header.fixed {
    color: #333;
    border-bottom: 0;
    background-color: #FFF;
}
.header.fixed .logo a {
    background: url(../images/logo_c.svg) no-repeat center center / contain;
}
.header.fixed .login {
    background: url(../images/login_b.svg) no-repeat center center;
}
.header.fixed .lang {
    background: url(../images/language_b.svg) no-repeat center center;
}
.header.fixed .gnb .gnb_open {
    background: url(../images/menu_b.svg) no-repeat center center;
}
@media screen and (max-width: 640px) {
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 10px;
    }
    .header .logo a {
        width: 77px;
        height: 25px;
    }
     /* 모바일에서 사용할 메뉴 열기 버튼 
     - pc 버전에서는 숨김 처리 - 모바일에서는 보이도록
     display:none;으로 숨긴 요소는 display에 none를 제외하고 무엇을 주던지 나타남  */
    .header .gnb .gnb_open {
        display: block;
        width: 19px;
        height: 17px;
        font-size: 0;
        line-height: 0;
        background: url(../images/menu_w.svg) no-repeat center center;
        margin-top: 15px;
    }
    .header .gnb ul {
        display: none;
        /* 모바일에서 메뉴는 메뉴 열기 버튼을 클릭해 나타남 */
    }
    .header .login {
        display: none;
    }
    .header .lang {
        display: none;
    }/* media */

}
.visual {
    /* background  사이즈 조절 
     cover는 영역에 이미지가 꽉차게 - 이미지 일부가 짤리고 배경은 꽉참 - 배경에 이미지
     contain 영역에 이미지가 꽉차게 - 이미지는 안짤리고 배경이 일부가 빔 - 배경에 로고가 들어간 경우  */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
    text-align: center;
}
.visual .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 314px; /*최소높이*/
    height: 100vh; /*브라우저 높이와 동일한 높이*/
}
    /* visual의 높이가 브라우저의 높이에 따라서 바뀜
    그래서 h2태그가 위에서 부터의 여백이 그때그때 달라짐 
    --> 고정값으로 줄 수가 없음 
    사이즈가 변경될때 가운데는 바뀌지 않음...
    h2태그는 원래 디자인 자체가 visual영역에 위아래 가운데 디자인
    코딩도 위아래 가운데에서 부터 시작해서 여백을 줘야함 */
.visual h2 {
    font-size: 50px;
    font-weight: 700;
}
.visual h2 br {
    display: none;
}
.visual p {
    font-size: 17px;
    margin-top: 14px;
}
@media screen and (max-width: 640px) {
    .visual .inner {
        min-height: 350px; /*최소높이*/
        height: auto; /*브라우저 높이와 동일한 높이*/
    }
    .visual h2 {
        font-size: 25px;
    }
    .visual h2 br {
        display: block;
    }
    .visual p {
        display: none;
        }
}
.service {
    background-color: #f4f4f4;
    padding: 25px 0;
}
.service h2 {
    display: none;
}
.service ul {
    display: flex;
    justify-content: space-between;
}
.service ul li {
    width: 16.6%;
    /*li가 6개라서 6등분으로 나눈 값 100/6=16.66*/
    text-align: center;
}
.service ul li a {
    padding-top: 75px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    width: 160px;
} 
.service ul li a::before {
    position: absolute;
    left: calc(50% - 35px);
    top: 0;
    content: "";
    width: 80px;
    height: 70px;
}
.service ul li.service01 a::before {
    background: url(../images/service01.svg) no-repeat center center;
}
.service ul li.service02 a::before {
    background: url(../images/service02.svg) no-repeat center center;
}
.service ul li.service03 a::before {
    background: url(../images/service03.svg) no-repeat center center;
}
.service ul li.service04 a::before {
    background: url(../images/service04.svg) no-repeat center center;
}
.service ul li.service05 a::before {
    background: url(../images/service05.svg) no-repeat center center;
}
.service ul li.service06 a::before {
    background: url(../images/service06.svg) no-repeat center center;
}
.service ul li span {
    color: #07A2E4;
}
.service ul li br {
    display: none;
}
@media screen and (max-width: 640px) {
    .service {
        padding: 20px 0;
    }
    .service ul {
        flex-wrap: wrap;
    }
    .service ul li {
        width: 33.33%;
        margin-bottom: 10px;
    }
    .service ul li a {
        padding-top: 55px;
        width: 69px;
        font-size: 13px;
    } 
    .service ul li a::before {
        left: calc(50% - 27px);
        width: 55px;
        height: 55px;
    }
    .service ul li.service01 a::before {
        background-size: 41px auto;
    }
    .service ul li.service02 a::before {
        background-size: 46px auto;
    }
    .service ul li.service03 a::before {
        background-size: 46px auto;
    }
    .service ul li.service04 a::before {
        background-size: 49px auto;
    }
    .service ul li.service05 a::before {
        background-size: 50px auto;
    }
    .service ul li.service06 a::before {
        background-size: 54px auto;
    }
    .service ul li br {
        display: block;
    }
}/*media*/

.biz {
    margin: 80px 0 0 0;
}
.biz h2 {
    color: #333;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 37px;
}
.biz ul {
    display: flex;
    justify-content: space-between;
}
/* .biz ul li:nth-child(2),
.biz ul li:nth-child(4) {
    margin-top: 20px;
} */
.biz ul li a {
    /* a에 사이즈를 주면 li는 a사이즈와 동일 */
    width: 308px;
    height: 200px;
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 25px 25px 0 25px;
    /* 높이를 준 경우는 왼쪽 오른쪽 위의 여백만 줌
    하단의 여백은 안줘도 됨. 
    어차피 높이를 고정으로 줘서 여백이 발생함
    오히려 하단 여백을 주면 글자가 늘어날 경우 
    높이가 바뀔 가능성이 있음 */
    position: relative;
}
.biz ul li.biz01 a {
    background-color: #FF2468;
}
.biz ul li.biz02 a {
    background-color: #6A19FA
}
.biz ul li.biz03 a {
    background-color: #476EED
}
.biz ul li.biz04 a {
    background-color: #13C9B2
}
.biz ul li a::after {
    position: absolute; /* a를 기준으로 정렬 */
    content: ""; /* before/after 선택자가 보이게하는 값 */
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    /* after 선택자에 준 넓이에 딱 맞게 배경이미지
    사이즈 조정 (높이는 비율에 맞게 조정) */
}
.biz ul li.biz01 a::after {
    right: -1px;
    bottom: -8px;
    width: 124px;
    height: 110px;
    background-image: url(../images/biz01.svg);
} 
.biz ul li.biz02 a::after {
    right: -17px;
    bottom: -97px;
    width: 120px;
    height: 206px;
    background-image: url(../images/biz02.svg);
} 
.biz ul li.biz03 a::after {
    right: -37px;
    bottom: -17px;
    width: 194px;
    height: 155px;
    background-image: url(../images/biz03.svg);
} 
.biz ul li.biz04 a::after {
    right: -30px;
    bottom: -51px;
    width: 155px;
    height: 155px;
    background-image: url(../images/biz04.svg);
} 
.biz ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}
.biz ul li a h3 br {
    display: none;
}
.biz ul li a p {
    color: rgba(255,255,255,0.8);
}
/* 위에 배치된 h3/p 문장의 길이가 길거나 짧아도 
   디자인 동일한 위치에 배치되어야함.
   상단여백으로 배치X 
   position:absolute로 배치해야됨
   (위 컨텐츠가 5줄거나 4줄여도 같은 위치에 
   배치되어야 하므로) */
.biz ul li a .more {
    position: absolute; /* a를 기준으로 정렬 */
    left: 25px;
    bottom: 30px;
    color: rgba(255,255,255,0.8);
    padding-right: 25px;
}
.biz ul li a .more::after {
    position: absolute;
    right: 0;
    top: 0;
    width: 21px;
    height: 22px;
    background: url(../images/more.svg) no-repeat center center;
    content: "";
}
@media screen and (max-width: 640px) {
    .biz {
        margin: 45px 0 0 0;
    }
    .biz h2 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .biz ul {
        display: block;
    }
    .biz ul li a {
        width: auto;
        /* a에 display:block있기때문에 넓이를 auto를
        주면 100%가 적용됨 */
        height: 130px;
        border-radius: 10px;
        padding: 22px 118px 0 22px;
        margin-bottom: 10px;
    }
    .biz ul li.biz01 a::after {
        bottom: 7px;
    }
    .biz ul li.biz02 a::after {
        right: 2px;
        bottom: -85px;
    }
    .biz ul li.biz03 a::after {
        bottom: -1px;
    }
    .biz ul li.biz04 a::after {
        right: -18px;
        bottom: -35px;
    }

    .biz ul li a h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .biz ul li a p {
        color: rgba(255,255,255,0.8);
        line-height: 1.2;
        height: 3.6em;
        overflow: hidden;
    }
    .biz ul li a h3 br {
        display: none;
    }
    .biz ul li a .more {
        display: none;
    }
}

.news {
    margin-top: 90px;
    padding: 80px 0;
    background-color: #F4F4F4;
}
.news h2 {
    font-size: 45px;
    font-weight: 700;
    color: #333;
    margin-bottom: 70px;
}
.news ul li {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.news ul li:nth-last-child(-n+2) {
    display: none;
}
.news ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 55px;
    padding:  0 57px;
    font-size: 17px;
}
.news ul li a em {
    font-weight: 700;
    line-height: 26px;
    padding: 0 13px;
    margin-right: 55px;
    color: #777;
}
.news ul li a strong {
    width: 900px;
        /* 글자가 들어갈 수 있는 최대 넓이 지정 
       날짜는 자리수가 딱 정해져 있음 
       왼쪽에 장학공지/일반공지도 자리수가 정해져있음
       하지만 제목은 입력한 대로 길수도 있고 짧을 수도 있음 
       그래서 글자가 들어갈 수 있는 최대 넓이를 제한 
       그 넓이를 넘어가면 제목을 잘라버리기 위해서 */
    color: #1d1d1d;
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden; /* 영역에서 넘치는 글자 숨김 */
    text-overflow: ellipsis; 
    /* 글자 끝에 ... 추가 
    글자가 반이 짤려서 나타날 수 있기때문에 
    이 현상을 막고 ...을 추가하는 방법 
    점3개를 2개로 변경 불가. 점 삭제 불가 */
}
.news ul li a span {
    color: #666;
}
.news .inner {
    position: relative;
}
.news .more {
    position: absolute;
    right: 0;
    top: 69px;

}
.news .more a {
    padding: 9px 51px 9px 34px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    display: block;
    position: relative;
}
.news .more a::after {
    position: absolute;
    right: 28px;
    top: 10px;
    width: 20px; /* 아이콘사이즈 */
    height: 20px;
    background: url(../images/more_b.svg) no-repeat center center / contain;
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
    contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
    content: "";
}
@media screen and (max-width: 640px) {
    .news {
        margin-top: 45px;
        padding: 45px 0;
    }
    .news h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .news ul li a {
        line-height: 35px;
        padding:  3px 20px;
        font-size: 13px;
    }
    .news ul li a em {
        display: none;
    }
    .news ul li a strong {
        width: calc(100% - 75px);
            /* 모바일에서는 제목의 넓이가 디바이스의 넓이에 따라 바뀜
           그래서 오른쪽 날짜와 여백값을 100%에서 빼줌
           (날짜와 여백은 고정값이니까.) */
    }
    .news .more {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 10px;
        text-align: center;
    }
    .news .more a {
        display: inline-block;
    }
    .news .more a::after {
        right: 30px;
        top: 10px;
        width: 16px; /* 아이콘사이즈 */
        height: 16px;
    }
}

.webzine {
    /* background때문에 여백을 padding으로 줌
    padding은 내부여백이라 background가 padding영역까지 배치가능 */
    padding: 75px 0 133px 0;
    background: url(../images/webzin_bg.svg) no-repeat center top 80px / 1920px auto;
}
.webzine .inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.webzine .tit h2 {
    color: #333;
    font-size: 40px;
    font-weight: 700;
}
.webzine .tit strong{
    font-size: 20px;
    font-weight: 700;
}
.webzine ul {
    display: flex;
}
.webzine ul li {
    width: 308px;
    margin-left: 16px;
}
.webzine ul li a {
    background-color: #fff;
    display: block;
    border-radius: 20px;
    overflow: hidden;
    /*a안에 있는 이미지는 border-radius 영역 밖으로 나옴
    해결방법1. 이미지에 border-radius를 또 주는 방법
    해결방범2. overflow:hidden; 으로 border-radius 밖으로 나온 이미지 숨기기    */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.webzine ul li strong {
    padding: 15px 24px 20px 24px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.webzine .more {
    position: absolute;
    left: 0;
    top: 91px;
}
.webzine .more a {
    display: block;
    padding-right: 22px;
    position: relative;
}
.webzine .more a::after {
    position: absolute;
    right: 0;
    top: 2px;
    width: 20px;
    height: 19px;
    background: url(../images/more_b.svg) no-repeat center center / contain;
    content: "";
    /* pc와 모바일에서 아이콘 사이즈가 변경된다면 background-size를 미리 지정하는게 좋음
    contain은 영역에 아이콘이 짤리지 않고 꽉차게 나오는 명령 */
}
@media screen and (max-width: 640px) {
    .webzine {
        padding: 58px 0 70px 0;
        background-position: center top 85px;
        background-size: cover;
    }
    .webzine .inner {
        display: block;
    }
    .webzine .tit h2 {
        color: #333;
        font-size: 25px;
    }
    .webzine .tit {
        display: flex;
        align-items: flex-end;
    }
    .webzine .tit strong{
        font-size: 13px;
    }
    .webzine ul {
        margin: 20px;
        justify-content: space-between;
    }
    .webzine ul li {
        width: calc(50% - 8px);
        margin-left: 0;
    }
    .webzine ul li:last-child {
        display: none;
    }
    .webzine ul li a img {
        width: 100%;
    }
    .webzine ul li strong {
        padding: 0 15px 5px 15px;
    }
    .webzine .more {
        position: relative;
        left: auto;
        top: auto;
        text-align: center;
    }
    .webzine .more a {
        display: inline-block;
        padding: 5px 36px 5px 16px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        color: rgba(255,255,255,0.8);
    }
    .webzine .more a::after {
        top: 5px;
        width: 50px;
        height: 18px;
        background: url(../images/more.svg) no-repeat center center / contain;
        content: "";
    }
}
.footer {
    background-color: #489AC8;
    color: #fff;
    padding: 0 0 88px 0;
    /* footer 모바일에서 높이가 계속 바뀜.
    그래서 처음부터 높이를 안줌 
    위아래 여백 padding으로 줌 */
}
.footer .f_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* 하단의 기준으로 위아래 정렬 */
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 26px; /* 선과 콘텐츠 사이 여백 */
}
.footer .f_top .f_logo strong {
    display: block; /* 하단 요소와 줄 바꿈 */
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.footer .f_top .f_logo span {
    display: block; /* 상단 요소와 줄바꿈 */
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.footer .f_top .f_nav ul {
    display: flex;
}
.footer .f_top .f_nav ul li {
    margin-right: 33px;
    /* 모바일에서는 꼭 오른쪽에 여백이 들어가아햠
    두줄로 바뀔때 오른쪽에 여백이 있어야 왼쪽 정렬이
    잘됨 */
    position: relative;
}
.footer .f_top .f_nav ul li:last-child {
    margin-right: 0;
    /* 마지막 li의 오른쪽 여백 삭제 */
}
.footer .f_top .f_nav ul li::after {
    position: absolute;
    right: -18px;
    top: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%; /* 최대한 동글게 */
    background-color: rgba(255,255,255,0.5);
    content: ""; /* before / after를 보이게 하는 값 */
}
.footer .f_top .f_nav ul li:last-child::after {
    display: none;
}
.footer .f_btm {
    margin-top: 16px;
}
.footer .f_btm .f_info span {
    margin-right: 25px;
}
.footer .f_btm .f_info strong {
    font-weight: 700;
}
.footer .f_btm .copyright {
    margin-top: 38px;
    color: rgba(255,255,255,0.8);
}
@media screen and (max-width:640px){
    .footer .f_top {
        display: block;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding: 31px 0 15px 0; /* 선과 콘텐츠 사이 여백 */
    }
    .footer .f_top .f_logo strong {
        font-size: 25px;
    }
    .footer .f_top .f_logo span {
        font-size: 15px;
    }
    .footer .f_top .f_nav {
        margin-top: 38px;
    }
    .footer .f_top .f_nav ul {
        flex-wrap: wrap; /* 두줄 세줄 허용 */
    }
    .footer .f_top .f_nav ul li {
        margin-right: 27px;
    }
    .footer .f_top .f_nav ul li::after {
        right: -15px;
        top: 7px;
    }
    .footer .f_btm .copyright {
        margin-top: 25px;
    }
}/* media */