/* 태그초기화 - 태그의 기본스타일 제거 */
* {
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0;
    box-sizing: border-box;
    /* padding하고 border는 넓이를 늘리는 요소인데 넓이를 늘리지 않도록 하는 속성 */
}
ul, ol, li { 
    list-style: none; /* ul li앞에 동그라미 삭제 */
}
a { /* a태그는 파란색에 underline이 기본적으로 생성됨 */
    text-decoration: none; /* underline 제거 */
    color: inherit; 
    /* 색상은 상속받아 - 파란색 말고 누군가가 상속해준 스타일을 적용  */
}
address, em {
    /* em태그와 address태그는 기본적으로 글자가 기울어짐 
       디자인상 기울어짐을 사용하기 위해서 쓰지 않음
       최근 기울어짐 디자인을 하지 않음 
       그래서 태그에 있는 기본 기울어짐을 초기화 함 */
    font-style: normal;
}
/* 글자를 두껍게하고 글자크기를 조정하는 태그 - 
   body가 선언한 속성대로 적용될 수 있도록 초기화 
   브라우저가 기본적으로 적용한 스타일 적용되지 않도록 막기 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
}
/* button태그는 기본스타일 많음 */
button {
    background-color: transparent; /*배경투명*/
    border: 0; /* 테두리 삭제 */
    color: inherit; /* 브라우저가 주는 값 삭제 */
    font-family: inherit; /* button은 서체도 바뀜 - 상속 */
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    letter-spacing: -0.05em;
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@media screen and (max-width: 640px) {
    html, body {
        font-size: 13px; /* 크기 */
    }
    .wrapper {
        width: auto;
            /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨 
           디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에 
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
        margin: 0 20px;
    }
    #wrap {
        min-width: auto; /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
    color: #1d1d1d;
}
.tnb {
    margin: 20px 0;
}
.tnb .inner {
    display: flex;
    align-items: center
}
.tnb .login1, .tnb .lang1 {
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0;
}
.tnb .login1 {
    background: url(../images/login_b.svg)no-repeat center center;
}
.tnb .lang1 {
    background: url(../images/language_b.svg)no-repeat center center;
}
@media screen and (max-width: 640px) {
    .tnb .login1, .tnb .lang1 {
        width: 25px;
        height: 25px;
        background-size: 21px auto;
    }
}

.tnb .login2, .tnb .lang2 {
    padding-left: 25px;
    position: relative;
    margin: 0 10px;
}
.tnb .login2::before,
.tnb .lang2::before {
    position: absolute;
    left: -8px;
    top: -4px;
    content: "";
    width: 31px;
    height: 31px;
}
.tnb .login2::before {
    background: url(../images/login_b.svg)no-repeat center center;
}
.tnb .lang2::before {
    background: url(../images/language_b.svg)no-repeat center center;
}
@media screen and (max-width: 640px) {
    .tnb .login2, .tnb .lang2 {
        padding-left: 25px;
    }
    .tnb .login2::before,
    .tnb .lang2::before {
        top: -2px;
        width: 21px;
        height: 21px;
    }
    .tnb .login2::before {
        background-size: 21px;
    }
    .tnb .lang2::before {
        background-size: 21px;
    }
}

.tnb .login3,
.tnb .lang3 {
    padding-top: 30px;
    margin: 0 10px;
    position: relative;
}
.tnb .login3::before,
.tnb .lang3::before {
    position: absolute;
    left: calc(50% - 15px);
    top: 0;
    width: 31px;
    height: 31px;
    content: "";
}
.tnb .login3::before {
    background: url(../images/login_b.svg)no-repeat center center;
}
.tnb .lang3::before {
    background: url(../images/language_b.svg)no-repeat center center;
}
@media screen and (max-width: 640px) {
.tnb .login3,
.tnb .lang3 {
    padding-top: 0;
}
.tnb .login3::before,
.tnb .lang3::before {
display: none;
}
.tnb .login3::before {
    background: url(../images/login_b.svg)no-repeat center center;
}
.tnb .lang3::before {
    background: url(../images/language_b.svg)no-repeat center center;
}
}

.service ul {
    margin: 20px 0;
}
.service .st1 {
    display: flex;
}
.service .st1 li {
    width: 16.66%;
    text-align: center;
}
.service .st1 li a {
    padding-top: 81px;
    display: block;
    position: relative;
}
.service .st1 li a::before {
    position: absolute;
    left: calc(50% - 40px);
    top: 0;
    content: "";
    width: 80px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
}
.service .st1 li.se1 a::before {
    background-image: url(../images/service01.svg);
}
.service .st1 li.se2 a::before {
    background-image: url(../images/service02.svg);
}
.service .st1 li.se3 a::before {
    background-image: url(../images/service03.svg);
}
.service .st1 li.se4 a::before {
    background-image: url(../images/service04.svg);
}
.service .st1 li.se5 a::before {
    background-image: url(../images/service05.svg);
}
.service .st1 li.se6 a::before {
    background-image: url(../images/service06.svg);
}

@media screen and (max-width: 640px) {
    .service .st1 {
        flex-wrap: wrap;
    }
    .service .st1 li {
        width: 33.33%;
        margin-bottom: 10px;
    }
    .service .st1 li a {
        padding-top: 73px;
    }
    .service .st1 li a::before {
        left: calc(50% - 35px);
        width: 70px;
        height: 66px;
        background-size: auto 50px;
    }
    .service .st1 li a span {
        display: none;
    }
    .service .st1 li.se1 a::before {
        background-image: url(../images/service01.svg);
    }
    .service .st1 li.se2 a::before {
        background-image: url(../images/service02.svg);
    }
    .service .st1 li.se3 a::before {
        background-image: url(../images/service03.svg);
    }
    .service .st1 li.se4 a::before {
        background-image: url(../images/service04.svg);
    }
    .service .st1 li.se5 a::before {
        background-image: url(../images/service05.svg);
    }
    .service .st1 li.se6 a::before {
        background-image: url(../images/service06.svg);
    }
    
}
.service .st2 {
    display: flex;
    justify-content: space-between;
}
.service .st2 li a {
    width: 190px;
    height: 79px;
    border: 1px solid #CCC;
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.service .st2 li a em {
    padding-left: 57px;
    display: block;
    position: relative;
}
.service .st2 li a em::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 50px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 36px;

}
.service .st2 li.se1 a em::before {
    background-image: url(../images/service01.svg);
}
.service .st2 li.se2 a em::before {
    background-image: url(../images/service02.svg);
}
.service .st2 li.se3 a em::before {
    background-image: url(../images/service03.svg);
}
.service .st2 li.se4 a em::before {
    background-image: url(../images/service04.svg);
}
.service .st2 li.se5 a em::before {
    background-image: url(../images/service05.svg);
}
.service .st2 li.se6 a em::before {
    background-image: url(../images/service06.svg);
}

