@charset "utf-8";
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif; /* 서체 */
    font-size: 15px; /* 크기 */
    color: #3d3d3d; /* 글자색상 */
    font-weight: 400; /* 글자의 두께 */
    line-height: 1.4; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    word-wrap: break-word; /*엄청 긴 단어가 줄바꿈이 되지않아 잘리는 경우 브라우저 사이즈에 맞게 강제 줄바꿈 허용*/
    letter-spacing: -0.05em;
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1280px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
       가로스크롤바가 생성되는데 오른쪽에 background가 
       짤리는 현상이 생김.  
       가로스크롤바가 생성되었을때도 홈페이지를 정상적으로 
       서비스 하기 위해서 최소 넓이를 입력 */
       position: relative;
}

/* 640px 이하일때 스타일 - 640이하는 모바일 초과는 탭  */
@media screen and (max-width: 640px) {
    html, body {
        font-size: 13px;
    }
    .wrapper {
        width: auto;
            /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨 
           디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에 
           그 안쪽으로 좌우 여백이 20px씩 들어가게 함. */
        margin: 0 20px;
    }
    #wrap {
        min-width: auto; /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.notice {
    margin: 50px 0;
}
.notice .list ul {
 display: flex;
 justify-content: space-between;
}
.notice .list ul li {
    width: calc(25% - 21px);
}
.notice .list ul li a {
    display: block;
}
.notice .list ul li a span {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.notice .list ul li a span img {
    width: 100%;
    transition: 0.5s;
}
.notice .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.notice .list ul li a strong {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
    color: #1d1d1d;
}
.notice .list ul li a em {
    display: block;
}

@media screen and (max-width: 640px) {
    .notice .list ul {
        flex-wrap: wrap;
    }
    .notice .list ul li {
           width: calc(50% - 8px);
           margin-bottom: 10px;
    }
}

.news {
margin: 80px 0;
}
.news .list ul {
    display: flex;
    justify-content: space-between;
}
.news .list ul li {
    width: 299px;
}
.news .list ul li a {
    display: block;
}
.news .list ul li a span {
    display: block;
    height: 200px;
    overflow: hidden;
}
.news .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
@media screen and (max-width: 640px) {
    .news .list ul {
        flex-wrap: wrap;
    }
    .news .list ul li {
        width: calc(50% - 8px);
        margin-bottom: 20px;
    }
    .news .list ul li a span {
        height: 150px;
    }
}
.board {
    margin: 80px 0;
}
.board .list ul {
    display: flex;
    justify-content: space-between;
}
.board .list ul li {
    width: 299px;
}
.board .list ul li a {
    display: block;
}
.board .list ul li a span {
    display: block;
    height: 300px;
    overflow: hidden;
}
.board .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.board .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
@media screen and (max-width: 640px) {
    .board .list {
        overflow-x: auto;
    }
    .board .list ul {
        display: flex;
        justify-content: space-between;
        width: 720px;
    }
    .board .list ul li {
        width: 168px;
    }
    .board .list ul li a span {
        height: 200px;
    }
}