@import url(default.css);
@import url(common.css);
@import url(layout.css);

.visual, 
.visual .swiper, 
.visual ul li .photo {
    height: 100vh; /* 팝업의 높이제어 */
}
.visual ul li .tit {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    width: 70%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.visual ul li .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 23px;
}
.visual ul li .tit a {
    display: inline-block;
    margin-top: 23px;
    padding: 12px 63px;
    border: 2px solid #fff;
    border-radius: 25px;
}
.visual ul li .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*visual 이미지가 보일 때 애니메이션 작동*/
.visual ul li.swiper-slide-active .photo img {
    animation-name: visual_img;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}
@keyframes visual_img { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:scale3d(1.2, 1.2, 1) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:scale3d(1, 1, 1) } /* 애니메이션이 종료될때의 속성 */
}
.visual ul li.swiper-slide-active .tit h2,
.visual ul li.swiper-slide-active .tit p,
.visual ul li.swiper-slide-active .tit a {
    animation-name: visual_tit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
    opacity: 0;
}
.visual ul li.swiper-slide-active .tit p {
    animation-delay: 0.3s;
}
.visual ul li.swiper-slide-active .tit a {
    animation-delay: 0.6s;
}
@keyframes visual_tit { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:translate(0, 50px); opacity: 0; }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:translate(0, 0); opacity: 1; } /* 애니메이션이 종료될때의 속성 */
}
.visual .paging {
    position: absolute;
    left: 10%;
    bottom: 70px;
    z-index: 11;
    width: calc(100% - 20%);
    display: flex;
}
.visual .paging > span {
    display: block;
    width: 25%;
    height: 9px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
}
.visual .paging > span > span {
    position: absolute;
    left: 0;
    top: -20px;
    color: #fff;
}
/* 현재 팝업이 활성화 되었을때 */
.visual .paging > span.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .paging > span.swiper-pagination-bullet-active > span {
    font-weight: 700;
}
.visual .paging .page1 span::before {
    content: "생명의 숲은 ";
}
.visual .paging .page2 span::before {
    content: "그린짐 참여신청 ";
}
.visual .paging .page3 span::before {
    content: "후원안내 ";
}
.visual .paging .page4 span::before {
    content: "참여프로그램 ";
}
@media screen and (max-width:1320px) {
    .visual ul li .tit {
        font-size: 15px;
    }
    .visual ul li .tit h2 {
        font-size: 40px;
    }
    .visual .paging > span {
        height: 5px;
    }
}
@media screen and (max-width:1024px) {
    .visual ul li .tit h2 {
        font-size: 35px;
    }
}
@media screen and (max-width:768px) {
    .visual ul li .tit {
        font-size: 13px;
    }
    .visual ul li .tit h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .visual ul li .tit a {
        margin-top: 15px;
        padding: 8px 30px;
    }
    .visual ul li .tit br {
        display: none;
    }
    .visual .paging {
        justify-content: center;
    }
    .visual .paging > span {
        width: 12px;
        height: 12px;
        background-color: transparent;
        margin: 2px !important;
        border: 1px solid #fff;
        border-radius: 6px;
    }
    .visual .paging > span > span {
       display: none;
    }
}
aside.quick {
    position: fixed;
    right: 3%;
    bottom: 85px;
    z-index: 100;
}
aside.quick ul li {
    margin-top: 5px;
}
aside.quick ul li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #a4bc49;
    color: #fff;
    font-size: 13px;
    padding-top: 33px;
    text-align: center;
    position: relative; /* before */
    box-shadow: 0 0 5px rgba(0,0,0,0.1)
}
aside.quick ul li.top a {
    background-color: #35763c;
}
aside.quick ul li a::before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
aside.quick ul li.donation a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0041 18.3356C5.40174 18.3356 1.67078 14.6047 1.67078 10.0022C1.67078 5.3999 5.40174 1.66895 10.0041 1.66895C14.6065 1.66895 18.3375 5.3999 18.3375 10.0022C18.3375 14.6047 14.6065 18.3356 10.0041 18.3356ZM10.0041 16.6689C13.686 16.6689 16.6708 13.6842 16.6708 10.0022C16.6708 6.32038 13.686 3.33561 10.0041 3.33561C6.32221 3.33561 3.33744 6.32038 3.33744 10.0022C3.33744 13.6842 6.32221 16.6689 10.0041 16.6689ZM7.08744 11.6689H11.6708C11.9009 11.6689 12.0875 11.4824 12.0875 11.2522C12.0875 11.0222 11.9009 10.8356 11.6708 10.8356H8.33746C7.18685 10.8356 6.25411 9.9029 6.25411 8.75224C6.25411 7.60168 7.18685 6.66895 8.33746 6.66895H9.17079V5.00228H10.8375V6.66895H12.9208V8.33557H8.33746C8.10733 8.33557 7.92078 8.52215 7.92078 8.75224C7.92078 8.9824 8.10733 9.1689 8.33746 9.1689H11.6708C12.8214 9.1689 13.7541 10.1017 13.7541 11.2522C13.7541 12.4029 12.8214 13.3356 11.6708 13.3356H10.8375V15.0022H9.17079V13.3356H7.08744V11.6689Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.my a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.8335C5 3.07207 7.23857 0.833496 10 0.833496C12.7614 0.833496 15 3.07207 15 5.8335C15 6.05195 14.9859 6.26741 14.9587 6.47897C16.475 7.33694 17.5 8.96475 17.5 10.8335C17.5 13.5949 15.2614 15.8335 12.5 15.8335H10.8333V18.3335H9.16667V15.8335H7.08333C4.55202 15.8335 2.5 13.7815 2.5 11.2502C2.5 9.40541 3.58927 7.81655 5.15915 7.08936C5.05529 6.68809 5 6.26715 5 5.8335ZM5.84137 8.61008C4.85147 9.07666 4.16667 10.0842 4.16667 11.2502C4.16667 12.861 5.4725 14.1668 7.08333 14.1668H12.5C14.3409 14.1668 15.8333 12.6744 15.8333 10.8335C15.8333 9.4215 14.9551 8.21256 13.712 7.72711L13.0107 7.45326C13.1589 6.91964 13.3333 6.39335 13.3333 5.8335C13.3333 3.99255 11.8409 2.50016 10 2.50016C8.15905 2.50016 6.66667 3.99255 6.66667 5.8335C6.66667 6.92335 7.18883 7.89102 8.00016 8.50058L6.99903 9.83308C6.54806 9.49425 6.15597 9.08041 5.84137 8.61008Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_16_517)'%3E%3Cpath d='M21.4241 5.17979C21.4241 2.63636 19.3738 0.57959 16.8513 0.57959H5.1487C2.62619 0.57959 0.575928 2.64215 0.575928 5.17979V10.6548C0.575928 13.1983 2.62619 15.2551 5.1487 15.2551H16.8456C19.3738 15.2551 21.4183 13.1925 21.4183 10.6548V5.17979H21.4241ZM14.5419 8.33157L9.2953 10.9445C9.08797 11.0546 8.39111 10.904 8.39111 10.6722V5.31305C8.39111 5.07551 9.09373 4.92487 9.30106 5.04075L14.323 7.78696C14.5361 7.90863 14.755 8.2157 14.5419 8.33157Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_517'%3E%3Crect width='22' height='15.84' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.insta a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_16_508)'%3E%3Cpath d='M12.9969 3.03467C12.4483 3.03467 11.9998 3.48317 11.9998 4.03186C11.9998 4.58056 12.4483 5.02905 12.9969 5.02905C13.5456 5.02905 13.9941 4.58056 13.9941 4.03186C13.9941 3.48317 13.5456 3.03467 12.9969 3.03467Z' fill='white'/%3E%3Cpath d='M8.56916 4.31299C6.25987 4.31299 4.38477 6.19286 4.38477 8.49738C4.38477 10.8019 6.26464 12.6818 8.56916 12.6818C10.8737 12.6818 12.7536 10.8019 12.7536 8.49738C12.7536 6.19286 10.8737 4.31299 8.56916 4.31299ZM8.56916 11.1788C7.09007 11.1788 5.88771 9.97647 5.88771 8.49738C5.88771 7.01829 7.09007 5.81594 8.56916 5.81594C10.0483 5.81594 11.2506 7.01829 11.2506 8.49738C11.2506 9.97647 10.0483 11.1788 8.56916 11.1788Z' fill='white'/%3E%3Cpath d='M11.89 17H5.10525C2.2902 17 0 14.7098 0 11.8948V5.11002C0 2.29021 2.2902 0 5.10525 0H11.89C14.705 0 16.9952 2.2902 16.9952 5.10525V11.89C16.9952 14.705 14.705 16.9952 11.89 16.9952V17ZM5.10525 1.59837C3.17289 1.59837 1.59837 3.17289 1.59837 5.10525V11.89C1.59837 13.8223 3.17289 15.3969 5.10525 15.3969H11.89C13.8223 15.3969 15.3969 13.8223 15.3969 11.89V5.10525C15.3969 3.17289 13.8223 1.59837 11.89 1.59837H5.10525Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_16_508'%3E%3Crect width='17' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.top a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99997 11.5953L13.9941 15.5894L15.1726 14.4109L9.99997 9.23833L4.82739 14.4109L6.0059 15.5894L9.99997 11.5953ZM4.99998 5.8335H15V7.50016H4.99998V5.8335Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px){
    aside.quick {
        display: none !important;
    }
}

.tree .tit {
    width: 580px;
}
.tree .num {
    color: #2AC49E;
    display: flex;
}
.tree .num strong {
    font-size: 150px;
    font-weight: 700;
}
.tree .num .plus {
    font-size: 70px;
}
.tree h2 {
    margin: 23px 0 10px 0;
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
}
.tree p {
    margin-right: 50px;
}
.tree .photo {
    position: absolute;
    left: calc(50% - 640);
    width: 1280px;
    top: 100px;
    height: calc(100vh - 100px);
    background: url(../images/main/tree_pc_bg.png) no-repeat right center;
}

@media screen and (max-width:768px){
    .tree {
        min-height: auto !important;
        padding: 95px 0 250px 0;
        background: url(../images/main/tree_m_bg.png) no-repeat center bottom 25px;
    }
    .tree .tit {
        width: auto;
    }
    .tree .num {
        justify-content: center;
    }
    .tree .num strong {
        font-size: 60px;
    }
    .tree .num .plus {
        font-size: 30px;
    }
    .tree h2 {
        font-size: 20px;
        text-align: center;
    }
    .tree p {
        margin: 0;
    }
}

.biz {
    background: url(../images/main/biz_bg.png) no-repeat center center / cover; 
    color: #fff;
}
.biz .wrapper {
    padding: 80px 0 30px 0;
}
.biz .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.biz .tit {
    width: 40%;
    margin-right: 3%;
}
.biz .tit h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.biz .list {
    width: 50%;
    min-width: 500px;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.biz .list ul li {
    width: calc(50% - 2%);
    background-color:  rgba(255, 255, 255, 0.9);
    color: #1d1d1d;
    border-radius: 20px;
    margin-bottom: 28px;
    transition: 0.5s;
    overflow: hidden;
}
.biz .list ul li:nth-child(odd) { /* 홀수 */
    transform: translate(0, 30px);
}
.biz .list ul li:nth-child(even) { /*짝수 */
    transform: translate(0, 30px);
}
.biz .list ul li a {
    display: block;
    height: 220px;
    padding: 144px 0 0 32px;
    font-size: 35px;
    font-weight: 700;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li.biz01 a::before {
    background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz02 a::before {
    background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz03 a::before {
    background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz04 a::before {
    background-image: url(../images/main/biz04.png);
}
.biz .list ul li.biz05 a::before {
    background-image: url(../images/main/biz05.png);
}
.biz .list ul li.biz06 a::before {
    background-image: url(../images/main/biz06.png);
}
.biz .list ul li a:hover::before {
    opacity: 1;
}
.biz .list ul li a:hover span {
    color: #fff;
}
.biz .list ul li a span {
    position: relative; /* before와 after */
}
.biz .list ul li a span::before {
    position: absolute;
    left: 23px;
    top: -30px;
    width: 96px;
    height: 107px;
    content: "";
    background-position: left bottom;
    background-repeat: no-repeat;
}
.biz .list ul li.biz01 a span::before {
    
}
.biz .list ul li a::after {
    position: absolute;
    right: 10%;
    bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #35763c;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1715 12.0007L8.22168 7.05093L9.6359 5.63672L15.9999 12.0007L9.6359 18.3646L8.22168 16.9504L13.1715 12.0007Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}

.news {
    background-color: #fff;
    color: #fff;
}
footer {
    height: 500px;
    background-color: #1d1d1d;
    color: #fff;
}

/************************************ 
    page에서 자동생성한 pagenation 
    #fp-nav.fp-left 동일한 선택자 두개가 존재할때
    꼭 내꺼를 먼저 적용되게 하기 위해서 
    앞에 body를 추가함 
    body라는 상위요소부터 선택자를 입력한 스타일이 먼저 적용됨
**************************************/

/*page에서 자동생성한 pagenation*/
body #fp-nav.fp-left {
    left: 2%;
}
body #fp-nav ul li .fp-tooltip {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-family: inherit;
    opacity: 1;
    width: auto;
}
body #fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 5px;
    width: 5px;
    background: rgba(255, 255, 255, 0.5);
}
body #fp-nav ul li a.active span, 
body .fp-slidesNav ul li a.active span, 
body #fp-nav ul li:hover a.active span, 
body .fp-slidesNav ul li:hover a.active span {
    height: 5px;
    width: 5px;
    margin: -2px 0 0 -2px;
    background-color: #fff;
}

body #fp-nav ul li:last-child { /*footer 동그라미 삭제*/
    display: none;
}
body #fp-nav ul li, 
body .fp-slidesNav ul li {
    margin: 20px 7px;
}
#fp-nav ul li:hover a span, 
.fp-slidesNav ul li:hover a span {
    width: 5px;
    height: 5px;
    margin: -2px 0px 0px -2px;
}
#fp-nav ul li:hover .fp-tooltip, 
#fp-nav.fp-show-active a.active + .fp-tooltip {
    font-weight: 700;
}

/* 검은색일때 */
body #fp-nav[data-color='black'] ul li .fp-tooltip {
    color: #1d1d1d;
}
body #fp-nav[data-color='black'] ul li a span,
.fp-slidesNav ul li a span {
    background: #c9c9c9;
}
body #fp-nav[data-color='black'] ul li a.active span, 
body .fp-slidesNav ul li a.active span, 
body #fp-nav[data-color='black'] ul li:hover a.active span, 
body .fp-slidesNav ul li:hover a.active span  {
    background-color: #1d1d1d;
}
@media screen and (max-width:1024px){
    body #fp-nav.fp-left {
        display: none;
    }
}