/*
    파일명 : contents.css
    작성자 : 김남주
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo인사말 - 회사소개 */
.cts_greeting {
    margin: 134px 0 275px 0;
    position: relative;
}
.cts_greeting .tit {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 60px 0;
}
.cts_greeting p {
    margin: 0 600px 0 0;
}
.cts_greeting p strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_greeting p strong span {
    color: #F51919;
}
.cts_greeting .ceo {
    position: absolute;
    left: calc(50% + 95px);
    top: -10px;
}
.cts_greeting .ceo .photo {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.cts_greeting .ceo .photo::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
    height: 594px;
    background-color: #F4F4F4;
    border-radius: 300px 0 0 0;
    content: "";
}
.cts_greeting .ceo .photo img {
    position: relative;
}
.cts_greeting .ceo .sign {
    display: flex;
    align-items: flex-start;
    margin: 40px 0 0 0;
}
.cts_greeting .ceo .sign strong {
    display: block;
    margin: 10px 30px 0 0;
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
@media screen and (max-width:1320px){
    .cts_greeting p {
        margin: 0 500px 0 0;
    }
    .cts_greeting .ceo {
        position: absolute;
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }
    .cts_greeting .ceo .photo img {
        width: 400px;
    }
}
@media screen and (max-width:1024px){
    .cts_greeting {
        margin: 134px 0 0 0;
    }
    .cts_greeting .tit br.mno {
        display: none;
    }
    .cts_greeting p {
        margin: 0;
    }
    .cts_greeting .ceo {
        position: relative;
        right: auto;
        bottom: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .cts_greeting .ceo .photo {
        height: 300px;
        overflow: hidden;
    }
    .cts_greeting .ceo .photo::before {
        display: none;
    }
    .cts_greeting .ceo .photo img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        
    }
    .cts_greeting .ceo .sign {
        display: block;
    }
}

/*연혁 - 회사소개*/

.cts_history {
    margin: 25px 0 60px 0;
}
.cts_history .year10 {
    margin: 132px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cts_history .year10.right {
    flex-direction: row-reverse;
}
.cts_history .year_tit {
    width: 408px;
    position: relative;
}
.cts_history .year_tit h2 {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 18px;
}
.cts_history .year_tit p {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
    color: #FFF;
}
.cts_history .year_tit .photo img {
    border-radius: 20px;
}
.cts_history .year_cnt {
    width: calc(100% - 517px);
    position: relative;
}
.cts_history .year_cnt::before {
    position: absolute;
    left: 128px;
    top: 7px;
    width: 1px;
    height: calc(100% - 7px);
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt::before {
    left: auto;
    right: 128px;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child {
    position: relative;
}
.cts_history .year_cnt .year1_group:last-child dl dd:last-child::before {
    position: absolute;
    left: -67px;
    bottom: -20px;
    width: 1px;
    height: calc(100% + 7px);
    background-color: #FFF;
    content: "";
}
.cts_history .right .year_cnt .year1_group:last-child dl dd:last-child::before {
    left: auto;
    right: -67px;
}
.cts_history .year_cnt .year1_group {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.cts_history .year_cnt .year1_group:last-child {
    margin-bottom: 0;
}
.cts_history .right .year_cnt .year1_group {
    flex-direction: row-reverse;
}
.cts_history .year_cnt .year1_group h3 {
    color: #F51919;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: -10px;
}
.cts_history .year_cnt .year1_group dl {
    width: calc(100% - 145px);
}
.cts_history .year_cnt .year1_group dl dt {
    float: left;
    /*뒤에 dd 태그는 dt가 없는 것으로 인식*/
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 1;
    margin-top: -1px;
    position: relative;
}
.cts_history .right .year_cnt .year1_group dl dt {
    float: right;
}
.cts_history .year_cnt .year1_group dl dt::before {
    position: absolute;
    left: -20px;
    top: 7px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #F51919;
    content: "";
}
.cts_history .right .year_cnt .year1_group dl dt::before {
    left: auto;
    right: -20px;
}
.cts_history .year_cnt .year1_group dl dd {
    margin: 0 0 20px 50px;
    /*왼쪽에 dt가 들어갈 자리를 반드시 margin으로 여백*/
}
.cts_history .right .year_cnt .year1_group dl dd {
    margin: 0 50px 20px 0;
    text-align: right;
}
.cts_history .year_cnt .year1_group dl dd + dd {
    /*dd 태그가 두번 이상 연속으로 나오는 경우 dd + dd*/
    margin-top: -12px;
}